<a href="https://colab.research.google.com/github/afraniofilho/Python-Training-Ford/blob/main/Aula_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('2102.csv', skiprows=2, sep=';')

In [ ]:
df.head()

  Ano de Lançamento  ...    Renda (R$)
0              1995  ...  6.430.000,00
1              1995  ...  4.513.302,00
2              1995  ...  1.532.509,00
3              1995  ...    906.750,00
4              1995  ...    506.027,00

[5 rows x 13 columns]

In [ ]:
df.tail()

                                      Ano de Lançamento  ... Renda (R$)
1944  a. No caso das empresas produtoras sem registr...  ...        NaN
1945                                                NaN  ...        NaN
1946  5. Nos casos que eram pessoas físicas no campo...  ...        NaN
1947                                                NaN  ...        NaN
1948  Elaboração: Coordenação de Edição e Publicação...  ...        NaN

[5 rows x 13 columns]

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.tail()

     Ano de Lançamento  ... Renda (R$)
1903              2019  ...     331,00
1904              2019  ...     320,00
1905              2019  ...     276,00
1906              2019  ...     278,00
1907              2019  ...     223,00

[5 rows x 13 columns]

In [ ]:
df.shape

(1908, 13)

In [ ]:
df.columns

Index(['Ano de Lançamento', 'Certificado de Produto Brasileiro (CPB)',
       'Título', 'Direção', 'Gênero',
       'Empresa Produtora Brasileira Majoritária', 'UF',
       'Empresa Produtora Minoritária Brasileira', 'UF.1', 'Distribuidora',
       'Máximo de Salas', 'Público', 'Renda (R$)'],
      dtype='object')

In [ ]:
# Quais anos tiveram mais lançamentos?

In [ ]:
lancamentos_por_ano = df['Ano de Lançamento'].value_counts()

In [ ]:
df.duplicated('Ano de Lançamento').value_counts()

True     1883
False      25
dtype: int64

In [ ]:
df.to_csv('teste.csv')