<a href="https://colab.research.google.com/github/afraniofilho/Python-Training-Ford/blob/main/desafio_2_respostas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pn1 = input('Digite o Part Number:')
name1 = input('Digite o Part Name:')
cost1 = input('Digite o Custo da Peça:')
print('Preencha os dados da peça seguinte')
pn2 = input('Digite o Part Number:')
name2 = input('Digite o Part Name:')
cost2 = input('Digite o Custo da Peça:')
print('Estes foram os dados digitados')

import pandas as pd
dados = {'PART NUMBER':[pn1, pn2], 'PART NAME':[name1, name2], 'COST':[cost1, cost2]}
df = pd.DataFrame(dados)
df

Digite o Part Number:ml34
Digite o Part Name:name1
Digite o Custo da Peça:0
Preencha os dados da peça seguinte
Digite o Part Number:2n15
Digite o Part Name:name1
Digite o Custo da Peça:1
Estes foram os dados digitados

  PART NUMBER PART NAME COST
0        ml34     name1    0
1        2n15     name1    1

In [ ]:
import pandas as pd
Qty = int(input('How many part numbers do you want to include? '))
part_number = []
part_name = []
part_cost = []
for i in range(Qty):
  PN = input('Input Part Number: ')
  Name = input('Input Part Names: ')
  Cost = input('Input Part Cost: ')
  part_number.append(PN)
  part_name.append(Name)
  part_cost.append(Cost)

input_info = {'Part Number': part_number, 'Part Names': part_name, 'Cost': part_cost}
df = pd.DataFrame(input_info)
df

In [ ]:
import pandas as desafio
Part = {'Part Number':[],
'Part Name':[],
'Cost':[]}
df = desafio.DataFrame (Part, columns = ['Part Number','Part Name','Cost'])
a = int(input("Por favor, informe componentes você deseja adicionar a tabela:" ))
for i in range (0,a):
 df = df.append({'Part Number':input("Digite o Part Number:"), 'Part Name': input("Digite o Part Name:"), 'Cost': input("Digite o cost:")},ignore_index=True)
df

In [ ]:
import pandas as pd

df = pd.DataFrame(columns=['PART NUMBER', 'PART NAME', 'COST'])
Z = "A"
while Z == "A":
    X = input("Type 'A' to add PN any other letter exit:")
    Z = X.upper()
    if Z == "A":
        PART_NUMB = input("Digite APART NUMBER:")
        PART_NAME = input("Digite PART NAME:")
        COST = input("Digite COST:")
        df =  df.append({'PART NUMBER': PART_NUMB,
                         'PART NAME': PART_NAME,
                         'COST': COST},
                         ignore_index=True)
    else:
        break
df

In [ ]:
import pandas as pd

part_number=''

part_name=''

cost=''

stop='S'

pecas=list()

while stop =='S':
  part_number= str(input("Part Number: "))
  part_name=str(input("Part Name: "))
  cost=str(input("Custo da Peça: "))
  stop= str(input("Deseja Continuar? [S/N] ")).upper()
  pecas.append([part_number, part_name, cost])

  print (pecas)

for i in range(len(pecas)):
    for j in range(len(pecas[i])):
        print(pecas[i][j], end=' - ')
    print()

pecas

df= pd.DataFrame(pecas, columns=['Part Number', 'Part Name', 'Cost'])

df