<a href="https://colab.research.google.com/github/afraniofilho/Python-Training-Ford/blob/main/Python_Pill_01_Lambda_Apply.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
num = 4

In [3]:
def quadrado(x):
  return x ** 2

In [14]:
df.apply(lambda x: x ** 2)

    A   B
0  16  81
1  16  81
2  16  81

In [13]:
df

   A  B
0  4  9
1  4  9
2  4  9

In [4]:
quadrado(num)

16

In [5]:
(lambda x: x ** 2)(num)

16

In [6]:
df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])

In [7]:
df

   A  B
0  4  9
1  4  9
2  4  9

In [10]:
df_1 = df.apply(np.sqrt)

In [11]:
df_1

     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0